<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{.title}}</title>
</head>
<body class="home">

<link rel="stylesheet" href="/static/editormd/css/editormd.css"/>
<link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
<div class="layui-form">
    <div id="test-editor">

    <textarea name="content" style="display:none;">### 关于 Editor.md

**Editor.md** 是一款开源的、可嵌入的 Markdown 在线编辑器（组件），基于 CodeMirror、jQuery 和 Marked 构建。
    </textarea>
        <input name="hh" value="2342">

    </div>
    <div>
        <button type="submit" lay-submit lay-filter="go" class="layui-btn">提交</button>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/editormd/editormd.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script type="text/javascript">
    $(function () {
        var editor = editormd("test-editor", {
            width: "100%",
            height: "500px",
            path: "/static/editormd/lib/"
        });
    });
    layui.use('form', function () {
        var form = layui.form;
        form.on('submit(go)', function (data) {
            // alert(123)
            // console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            // console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            $.ajax({
                url: "http://127.0.0.1:8080/index/addblog",    // 提交到controller的url路径
                type: "post",    // 提交方式
                data: data.field,  // data为String类型，必须为 Key/Value 格式。
                dataType: "json",    // 服务器端返回的数据类型
                success: function (data) {
                    console.log(data)
                    if (data["Code"] == 0) {
                        data = JSON.parse(data)

                        // for (var i = 0; i < data.length; i++) {
                        //     console.log(data[i])
                        // }
                        console.log(1234)


                    } else {

                        console.log(456)
                        data = JSON.parse(data)

                    }
                },
            });
            // return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
        //各种基于事件的操作，下面会有进一步介绍
    });

</script>


</body>
</html>
